@using Microsoft.AspNet.Identity
@if (Session["MyClub"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Odjava</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!--<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

$(document).on('click', '.btnConfirm', function(){
    $.ajax({
        url: '@Url.Action("LogOff", "Account")',
        type: 'POST',
        cache: false,
        async: true,
        data: $('form').serialize(),
        success: function(result){
        //do something
        }
        });
        });